@charset "utf-8";

@keyframes airplane{
  0%{opacity:1;}
  50%{opacity:0;}
  100%{opacity:1;}
}

$bgc-color1:#9CBEFD;
$bgc-color2:#FFFBE9;
$pt-color:#F96167;

$mobile : "screen and (max-width:480px)";

#wrap {
  margin: 0 auto;
  color: #222;
  font-family: 'Noto Sans KR';

  @media #{$mobile}{
    width: 100%;
    overflow-x: hidden;
  }

    >#main {
      height: 100vh;
      padding-top: 130px;
      background-color: $bgc-color1;
      box-sizing: border-box;

      >h1{
        color: $bgc-color2;
        font-size: 50px;
        text-align: center;

        @media #{$mobile}{
          font-size: 30px;
        }
      }

      >h2 {
        margin-top: 50px;
        color: #fefefe;
        font-size: 50px;
        text-align: center;

        @media #{$mobile}{
          margin-top: 30px;
          font-size: 30px;
        }

        @media screen and (min-width:320px) and (max-width: 470px){
          font-size: 28px;
        }
      }

      >h3 {
        margin-top: 250px;
        font-size: 30px;
        text-align: center;

        @media #{$mobile}{
          margin-top: 150px;
          font-size: 20px;
        }
      }

      .wrapper-ico {
        position: relative;

        .ico {
          display: flex;
          justify-content: center;
          gap: 70px;
          margin-top: 50px;
  
          @media #{$mobile}{
            gap: 30px;
          }
          
            >li {
              width: 80px;
              height: 80px;
              background-color: $bgc-color1;
              background-size: contain;
              background-repeat: no-repeat;
              z-index: 100;
  
              @media #{$mobile}{
                width: 50px;
                height: 50px;
              }
              
              &:nth-child(1){background-image: url(./../images/brain.png);}
              &:nth-child(2){background-image: url(./../images/heart2.png);}
              &:nth-child(3){background-image: url(./../images/hand.png);}
              &:nth-child(4){background-image: url(./../images/foot.png);}
            
            }//p
          }//.ico
          
          >.line {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
            width: 450px;
            border-top: 2px dashed #707070;
    
            @media #{$mobile}{
              display: none;
            }
          }
        }//.wrapper

        >.bg-ani {
          position: absolute;
          left: 10px;
          top: 40%;
          width: 100px;
          height: 100px;
          background-image: url(./../images/airplane.png);
          background-size: cover;
          transform: rotate(45deg);
          animation: airplane 1s infinite;
          
          @media #{$mobile}{
            left: 40%;
            top: 80%;
            width: 80px;
            height: 80px;
            transform: rotate(135deg);
            animation: airplane 1s infinite;
          }
        } //bg-ani 비행기  
    } //.main

    >header {
      width: 100%;
      background-color: #fff;
      border-bottom: 3px double #eee;

      &.fixed {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 100;
      }
      
      @media #{$mobile}{
        height: 60px;
      }

      >.wrapper-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1280px;
        height: 67px;
        padding: 0 30px;
        margin: 0 auto;

        >h2.logo {
          width: 220px;
          margin-left: -100px;

          @media #{$mobile}{
            margin-left: -30px;
          }
  
          >a {
            display: block;
            color: #222;  
            height: 67px;        
            font-size: 22px;
            line-height: 67px;
            margin-left: 50px;
  
            @media screen and (max-width:800px){
              font-size: 30px;
            }
  
            @media #{$mobile}{
              margin-left: 30px;
              font-size: 20px;
            }                 
          }
        } //.logo 끝
  
        >.btn-gnb {
          display: none;
  
          @media #{$mobile}{
            // button 속성 제거
            background: none;
            border: none;
            outline: none;
  
            display: block;
            position: relative;
  
            width: 24px;
            height: 18px;
            color: transparent;
            background-image: url(./../images/mnu_btn.png);
  
            &.clse {
              width: 18px;
              height: 18px;
              background-image: url(./../images/clse_btn.png);
            }
          }
        }
  
        >nav {
          height: 67px;
  
          @media #{$mobile}{
            display: none;
            position: absolute;
            left: 0;
            top: -10px;
            width: 100%;
            margin-top: 70px;
            z-index: 100;
          }
          
          >.gnb {
            display: flex;
            flex-flow: row nowrap;
            
            @media #{$mobile}{
              display: initial;
            }
            
            >li {
              &:hover > a,
              &.on > a {
                color: $pt-color;
                font-weight: 600;
              }
  
              @media #{$mobile}{
                background-color: $bgc-color2;
                border-top: 1px dashed #999;
  
                &:last-child {
                  border-bottom: 2px solid #e4e4e4;
                }
              }
  
              >a {
                display: block;
                height: 40px;
                padding: 15px 20px;
                color: #222;
                font-size: 20px;
                line-height: 40px;
                text-align: center;
  
                @media screen and (max-width:1100px){
                  display: flex;
                  flex-flow: row;
                  font-size: 17px;
                  padding: 20px 5px;
                }
  
                @media screen and (max-width:800px){
                  padding: 20px 2px;
                }
  
                @media #{$mobile}{
                  display: block;
                  height: 30px;
                  line-height: 30px;
                  padding: 10px 0;
                  font-size: 16px;
                }
              }
            } //li
          } //gnb
        } // nav
      }//.header-inner
    } //header

    >.intro { 
      margin-bottom: 100px;
      background-color: #fefefe;
      
      >.contents {
        display: flex;
        justify-content: center;
        
        @media #{$mobile}{
          flex-direction: column;
          align-items: center;
        }

        >.wrapper-img {
          position: relative;
          width: 600px;
          height: 700px;

          @media #{$mobile}{
            width: 480px;
            height: 270px;
            // border: 1px solid #00f;
          }

          >span.img {
            display: block;
            position: absolute;
            right: 50px;
            top: 70px;
            width: 400px;
            height: 500px;
            background-image: url(./../images/profile.jpg);
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 40px;
  
            @media #{$mobile}{
              left: 50%;
              top: 70px;
              margin-left: -110px;
              width: 200px;
              height: 250px;
              border: 8px solid rgba($color: $pt-color, $alpha:0.9);
            }
          }//.img
  
          >span.imgbg {
            display: block;
            position: absolute;
            right: 100px;
            top: 120px;
            margin-left: -460px;
            width: 400px;
            height: 500px;
            background-color: $pt-color;
            opacity: 0.5;
            border-radius: 40px;
            
            @media #{$mobile}{
              display: none;
            }
          }//.imgbg
        }//.wrapper-img
        
        >.txt {
          width: 700px;
          height: 500px;
          padding: 100px;

          @media #{$mobile}{
            width: 310px;
            height: 350px;
            margin-top: 70px;
            padding: 40px;
            text-align: justify;
          }

          @media screen and (min-width:320px) and (max-width: 470px){
            width: 280px;
            padding: 20px;
          }

          >p {
            font-size: 16px;
            line-height: 1.4;

            @media #{$mobile}{
              font-size: 13px;
            }

            @media screen and (min-width:320px) and (max-width: 470px){
              font-size: 11px;
            }

            >span {
              font-size: 18px;
              font-weight: 600;

              @media #{$mobile}{
                font-size: 17px;
              }

              @media screen and (min-width:320px) and (max-width: 470px){
                font-size: 15px;
              }
            }
          } 
        } //.txt
      }// .contents
    } // .intro 

    >#brain {
      max-width: 1280px;
      height: 700px;
      margin: 0 auto 100px;
      background-color: #fefefe;

      @media #{$mobile}{
        max-width: 480px;
        height: 1150px;
      }

      >span.icon {
        display: block;
        position: relative;
        left: 46%;
        top: -40px;
        width: 70px;
        height: 70px;
        margin-left: -600px;
        background-color: #fefefe;
        background-image: url(./../images/brain.png);
        background-size: contain;
        background-repeat: no-repeat;

        @media #{$mobile}{
          left: 0;
          width: 50px;
          height: 50px;
          margin-left: 0;
          }
      }//.icon

      >h3 {
        font-size: 50px;
        text-indent: 70px;

        @media #{$mobile}{
          font-size: 35px;
          text-indent: 50px;
        }
      }//h3

      >.wrapper-article {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        
        @media #{$mobile}{
          flex-direction: column;
          align-items: center;
          height: 570px;
          margin: 30px 0 80px;
        }

        >article {
          width: 370px;
          height: 200px;  
          background-color: $bgc-color2;
          border-radius: 30px;
  
          @media #{$mobile}{
            width: 310px;
            height: 180px;
          }
  
            >ul {
              padding: 25px; 
              color: #000;
              
              >li {
                font-size: 15px;
                line-height: 1.5;

                @media #{$mobile}{
                  font-size: 13px;
                }
    
                  &:first-child {
                    margin-bottom: 10px;
                    font-size: 18px;
                    font-weight: 600;
                    text-align: center;

                    @media #{$mobile}{
                      font-size: 15px;
                    }
                  }
                  
                  &:last-child {
                    text-indent: 8px;
                  }
               } //li
            } //ul
        }//article
      }//..wrapper-article

      >.skills {
        margin-top: 80px;

        >ul {
          >li {
            font-size: 15px;
            line-height: 1.5;

            @media #{$mobile}{  
              font-size: 13px;
            }

            &:first-child {
              margin: 0 0 20px 0;
              font-size: 25px;
              font-weight: 600;
            }

            >mark { background-color: rgba($color: #ff0, $alpha:0.4);}
          }
        }//ul

        @media #{$mobile}{  
          max-width: 400px;
          margin: 30px auto 0;
          padding: 10px;
          text-align: justify;
        }
      }//.skills
    } //#brain

    >#heart {
      max-width: 1280px;
      height: 750px;
      margin: 0 auto 100px;
      background-color: #fefefe;

      @media #{$mobile}{
        max-width: 480px;
        height: 1310px;
        margin-bottom: 100px;
      }

      >span.icon {
        display: block;
        position: relative;
        left: 46%;
        top: -40px;
        width: 70px;
        height: 70px;
        margin-left: -600px;
        background-color: #fefefe;
        background-image: url(./../images/heart2.png);
        background-size: contain;
        background-repeat: no-repeat;
  
        @media #{$mobile}{
          left: 0;
          width: 50px;
          height: 50px;
          margin-left: 0;
          }
      }//span.ico

      >h3 {
        font-size: 50px;
        text-indent: 70px;

        @media #{$mobile}{
          font-size: 35px;
          text-indent: 60px;
          margin-bottom: 5px;
        }

        @media screen and (min-width:320px) and (max-width: 470px){
          font-size: 30px;
        }
      } //h3

      >.phts {
        margin: 80px 50px 0;
        background-color: #fff;

        @media #{$mobile}{
          margin: 30px 50px 0;
        }

        @media screen and (min-width:320px) and (max-width: 470px){
          margin: 0 auto;
        }
        
        >ul {
          display: flex;
          justify-content: space-between;
          gap: 20px;
          height: 450px;
          
          @media #{$mobile}{
            flex-direction: column;
            align-items: center;
            height: 1200px;
          }

          >li {
            position: relative;
            overflow: hidden;
            width: 300px;
            height: 300px;
            margin: 0 auto;
            border-radius: 10px;
            
            >a {
              display: block;
              position: absolute;
              top: 10px;
              left: 50%;
              width: 100%;
              margin-left: -150px;
              color: #fefefe;
              font-size: 20px;
              font-weight: 600;
              text-align: center;
              text-shadow: 3px 3px 2px #222;

              &:hover > img {
                transform: scale(1.2);
              }    
            }
    
            &.frame2 {
              align-self: flex-end;
            }// .frame2
  
            &.frame4 {
              align-self: flex-end;
            }// .frame4

            >img{
              display: block;
              width: 300px;
              height: 300px;
              transition: all 0.5s ease-in-out; 
            }   
  
            >img:hover {
              transform: scale(1.2);
            }      
          }//li
        } //ul
      } //.phts
    } //#heart

    >#hand {
      max-width: 1280px;
      height: 750px;
      margin: 0 auto;
      background-color: #fefefe;

      @media #{$mobile}{
        max-width: 480px;
        height: 900px;
        margin-bottom: 100px;
      }

      @media screen and (min-width:320px) and (max-width: 470px){
        height: 800px;
      }

      >span.icon {
        display: block;
        position: relative;
        left: 46%;
        top: -40px;
        width: 70px;
        height: 70px;
        margin-left: -600px;
        background-color: #fefefe;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 20%;
        box-sizing: border-box;
        background-image: url(./../images/hand.png);
  
        @media #{$mobile}{
          left: 0;
          width: 50px;
          height: 50px;
          margin-left: 0;
        }
      }//span.ico

      >h3 {
        font-size: 50px;
        text-indent: 70px;

        @media #{$mobile}{
          max-width: 480px;
          font-size: 35px;
          text-indent: 60px;
        }

        @media screen and (min-width:320px) and (max-width: 470px){
          font-size: 22px;
        }
      } //h3

      >.portfolio {
        
        @media #{$mobile}{  
          max-width: 480px;
          height: 820px;
        }

        @media screen and (min-width:320px) and (max-width: 470px){
          height: 700px;
        }

        >.label {
          display: flex;
          justify-content: center;
          gap: 100px;
          margin-top: 50px;

          @media screen and (min-width:320px) and (max-width: 470px){
            gap: 30px;
          }

          >li {            
            >a {
              display: block;
              color: #000;
              font-size: 16px;
              padding: 10px 20px;
              border: 1px solid #ccc;
              border-radius: 30px;
            }

            &.on >a {
              color: #fff;
              background-color: $bgc-color1;
              border: none;
            }
          }//li
        }//.label

        >.pfshow {
          position: relative;
          height: 400px;
          margin-top: 100px;

          @media #{$mobile}{
            margin: 70px 35px 0;
          }

          @media screen and (min-width:320px) and (max-width: 470px){
            margin: 0 auto;
          }

          >figure {
            display: none;
            justify-content: space-between;
            position: absolute;
            left: 0;
            top: 0;
            padding-left: 100px;

            @media #{$mobile}{
              flex-direction: column-reverse;
              padding-left: 0px;
            }

            @media screen and (min-width:320px) and (max-width: 470px){
              margin: 0 17px;
            }

            &:nth-child(1) {display: flex;}

            >figcaption {

              @media #{$mobile}{
                max-width: 400px;
              }

              @media screen and (min-width:320px) and (max-width: 470px){
                margin-top: 50px;
                width: 280px;
              }

              >h5 {
                font-size: 22px;
                margin-bottom: 30px;

                @media #{$mobile}{
                  width: 320px;
                }
              }//h5

              >p.expln {
                margin: 20px 0;
                font-size: 14px;
                line-height: 2;

                @media screen and (min-width:320px) and (max-width: 470px){
                  font-size: 11px;
                }
              }//expln

              >.btn {
                display: flex;
                margin-top: 20px;

                @media #{$mobile}{
                  width: 170px;
                }

                >a {
                  display: block;
                  height: 40px;
                  margin-right: 10px;
                  font-size: 15px;
                  line-height: 40px;
                  padding: 0 40px;
                  color: #000;
                  background-color: $bgc-color2 ;
                  border-radius: 25px;

                  &:hover {
                    color: #fff;
                    background-color: rgba($color: $pt-color, $alpha: 0.7);
                  }

                  &.prss {
                    @media #{$mobile}{
                      display: none;
                    }
                  }
                }//a
              }//.btn

              >.bkscreen{
                display: none;
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.5);
                z-index: 1000;
  
                >.imgbox{
                    overflow-y: scroll;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    height: 600px;
                    
                    >img{
                      width: 850px;
                    }
                }//imgbox  
              }//.bkscreen
            }//figcap~

            >.frame {
              position: relative;
              top: -40px;
              width: 500px;
              height: 400px;
              margin-left: 100px;
              background-image: url(./../images/macbook.png);
              background-size: contain;
              background-repeat: no-repeat;
              
              @media #{$mobile}{
                width: 400px;
                height: 350px;
                left: 0;
                top: 0;
                margin: 0 auto;
              }

              @media screen and (min-width:320px) and (max-width: 470px){
                margin-top: 50px;
                width: 280px;
                height: 220px;
              }
              
              >img {
                position: absolute;
                left: 20px;
                top: 40px;
                width: 460px;
                height: 265px; 

                @media #{$mobile}{
                  left: 17px;
                  top: 35px;
                  width: 365px;
                  height: 208px;
                }

                @media screen and (min-width:320px) and (max-width: 470px){
                  left: 11px;
                  top: 25px;
                  width: 255px;
                  height: 145px;
                }
              }
            }//.frame
          }//figure
        }//.pfshow
      }//.port~
    }//#hand

    >#foot {
      max-width: 1280px;
      margin: 0 auto;
      background-color: #fefefe;
      
      @media #{$mobile}{
        max-width: 480px;
      }

      >span.icon {
        display: block;
        position: relative;
        left: 46%;
        top: -40px;
        width: 70px;
        height: 70px;
        margin-left: -600px;
        background-image: url(./../images/foot.png);
        background-color: #fefefe;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 20%;
        box-sizing: border-box;
  
        @media #{$mobile}{
          left: 0;
          width: 50px;
          height: 50px;
          margin-left: 0;
        }
      }//span.ico

      >h3 {
        font-size: 50px;
        text-indent: 70px;

        @media #{$mobile}{
          font-size: 35px;
          text-indent: 60px;
        }
        
        @media screen and (min-width:320px) and (max-width: 470px){
          font-size: 20px;
        }
      } //h3

      >.qna {
        margin: 100px auto;
        width: 1200px;
        padding: 20px;
        border: 1px solid #e4e4e4;

        @media #{$mobile}{
          margin-top: 50px;
          max-width: 400px;
          padding: 10px;
        }
        
        >h6 {
          font-size: 30px;
        }
        
        >dl {
          margin-top: 50px;

          @media screen and (min-width:320px) and (max-width: 470px){
            max-width: 300px;
          }
          
          >dt {
            position: relative;
            width: 100%;
            height: 60px;
            font-weight: 600;
            line-height: 60px;
            border-bottom: 3px double #e4e4e4;
            box-sizing: border-box;
            
            >a {
              display: block;
              color: #000;
              font-size: 15px;

              @media screen and (min-width:320px) and (max-width: 470px){
                font-size: 11px;
              }
              
              >.arrow {
                display: block;
                position: absolute;
                right: 0;
                top: 20px;
                width: 100px;
                height: 20px;
                color: transparent;
                background-image: url(./../images/down-arrow.png);
                background-size: contain;
                background-position: 70px center;
                background-repeat: no-repeat;
                
                &.on {
                  background-image: url(./../images/up-arrow.png);
                }
              }
            }//a
          }//dt-질문

          >dd {
            display: none;
            height: 80px;
            padding: 10px;
            font-size: 15px;
            line-height: 1.4;
            border-bottom: 1px solid #e4e4e4;
            
            @media #{$mobile}{
              height: 120px;
              font-size: 13px;
            }

            @media screen and (min-width:320px) and (max-width: 470px){
              font-size: 11px;
            }
          }//dd-답변
        }//dl-테이블
      }//.qna
    }//#foot

    >footer {
      height: 200px;
      margin: 0 auto;
      color: #fefefe;
      background-color: #707070;

      @media #{$mobile}{
        max-width: 480px;
      }

      .container {
        padding: 20px 0;
        font-size: 15px;
        text-align: center;
        }

      .contact {
        max-width: 1250px;
        margin: 30px auto;
        font-size: 15px;
        line-height: 2;

        @media #{$mobile}{
          padding-left: 10px;
          font-size: 12px;
        }
      }//.contact
    }//footer

    >aside {
      display: none;
      position: fixed;
      right: 5%;
      bottom: 10%;
      
      >a{
      display: block;
      width: 30px;
      height: 30px;
      font-size: 20px;
      padding-top: 5px;
      text-align: center;
      background-color: $bgc-color1;
      border-radius: 10px;
      box-sizing: border-box;
      }


      > i {
        color: #fefefe;
      }
    }
  
  } //#wrap